/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Lato";
    src: url("../node_modules/lato-font-face/fonts/Lato-Regular.eot?v=1.0.0");
    src: url("../node_modules/lato-font-face/fonts/Lato-Regular.eot?#iefix&v=1.0.0")
            format("embedded-opentype"),
        url("../node_modules/lato-font-face/fonts/Lato-Regular.woff2?v=1.0.0")
            format("woff2"),
        url("../node_modules/lato-font-face/fonts/Lato-Regular.woff?v=1.0.0")
            format("woff"),
        url("../node_modules/lato-font-face/fonts/Lato-Regular.ttf?v=1.0.0")
            format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html,
body {
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
strong,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}
